

@import url("/node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css");

html,body,.main{
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container-fluid{
    height: 100%;
}


.farm   {
    width: 100%;
    height: 600px;
}

.farm  #drop-zone-area{
    width: 2000px;
    height: 800px;
}
.farm-objects{
    white-space: nowrap;
}

/* .draggable{position: relative;} */
.cloneItem,.dragElement{
    width:  200px;
    height: 100px;
    
}